body {
    scroll-behavior: smooth;
}

/* Hero Section */
.hero {
    height: 100vh;
    background: linear-gradient(135deg, #1d2671, #c33764);
}

/* Skill Boxes */
.skill-box {
    background: #f8f9fa;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.skill-box:hover {
    transform: scale(1.1);
    background: #0d6efd;
    color: white;
}

/* Cards Hover */
.card {
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}